*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #F5F7FA;
    display: flex;
    max-height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    gap : 20px;
}

ul{
    list-style: none;
    margin-left: 5px;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;   
}

ul li label{
    border: 2px solid black;
    border-top: none;
    display: flex;
    padding-left: 15px;
    height: 70px;
    margin: 3px;
    border-radius: 5%;
    color: #FFF;
}

.monsterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E2F;
}

.monsterList p{
    text-align: center;
    margin: auto;
}

.monsterList h2{
    margin: auto;
}

.monsterList img{
    width: 70px;
    height: 70px;
}

.monsterInfo{
    height: 100vh;
}

/*MONSTER*/
.monsterName{
    text-align: center;
    text-transform: capitalize;
}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    height: 90%;

    text-align: center;
}

.monsterIMG{
    height: 200px;
    width:  200px;
}

.monsterTypes{
    list-style: none;
    display: flex;
    justify-content: center;
}

.monsterDesc{
    margin: auto;
}

.evolutionChain{

}

.monsterMoves{
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    margin: 0;
    
}





