*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{

    /* background: linear-gradient(45deg, #0075be, white,red); */
    background-color: #F5F7FA;
    display: flex;
    max-height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    gap : 20px;
}

ul{
    list-style: none;
    margin-left: 5px;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;   
}

ul li label{
    border: 2px solid black;
    border-top: none;
    display: flex;
    padding-left: 15px;
    height: 70px;
    margin: 3px;
    border-radius: 5%;
    background-color: #FF6B6B;
    color: #FFF;
    transition: background-color 0.3s ease;

    /* background:radial-gradient(circle,white,red); */
    
}

.monsterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E2F;

}

.monsterList input[type='radio']{
    display: none;
}

.monsterList p{
    text-align: center;
    margin: auto;
}

.monsterList h2{
    margin: auto;
}

.monsterList img{
    width: 70px;
    height: 70px;
}

ul li label:hover{
    /* background: radial-gradient(circle,white, #fdc2ea , #b243f0); */
    background-color: #FF4C4C;
    border-radius: 5%;
}

input[type='radio']:checked + label{
    /* background:radial-gradient(circle, rgb(255, 222, 0), rgb(59, 76, 202)); */
    background-color: #4D96FF;
    border-radius: 5%;
}

.monsterInfo{
    height: 100vh;
}


